/* Styles for Components/VehicleList/Filter.js */

/* General */
.vehicles-filter ul {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

/* Filter Family */
.filter-family {
    padding: 10px;
    background-color: rgb(81, 150, 75);
    color: white;
    font-size: 16px;
}

.filter-family:hover {
    background-color: #52994C;
    border-color: #52994C;
}

/* Filter Categories */
.filter-category {
    padding: 10px;
    color: #666666;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-category:hover {
    background-color: #f5f5f5;
    color: #B72C2E;
}

/* Filter toggle for smaller screens */
.filter-toggle {
    background-color: #eeeeee;
    color: #666666;
    border: none;
}

.filter-toggle:hover, .filter-toggle:focus {
    text-decoration: underline;
    background-color: #eeeeee;
    color: #666666;
    border: none;
}

/* Responsive Styles */
@media only screen and (min-width: 768px) {
    .filter-toggle {
        display: none;
    }
}