/* Styles for Components/VehicleSearch/SearchFilter.js */
/* Styles for Components/VehicleSearch/SearchFilterMobile.js */

/* General */
.search-filter {
  border: 1px solid #dee2e6;
  padding: 16px;
  position: sticky;
  top: 75px;
}

/* Vehicle Type */
.search-filter-type {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.search-filter-type button {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

/* Vehicle Categories Label */
.search-filter legend {
  font-size: 14px; 
  font-weight: 600
}

/* Vehicle Categories */
.search-filter-categories .custom-checkbox {
  border: 1px solid #dee2e6;
  padding: 8px 0 8px 36px;
  margin-bottom: 10px
}

.search-filter-categories .custom-checkbox label {
  padding-top: 1px;
  width: 100%;
}

.search-filter-categories .custom-control-input:checked~.custom-control-label::before {
  border-color: #5FAF57;
  background-color: #5FAF57;
}

/*  =============================== */
/* Search Filter Mobile View Style */
.search-filter-mobile legend {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 10px 10px 20px;
}

.search-filter-mobile-type button {
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 20px 20px;
  border-radius: 20px;
}

.search-filter-mobile-categories .custom-checkbox {
  /* border: 1px solid #dee2e6; */
  padding: 10px 0 10px 30px;
  margin: 10px 20px 10px 20px;
  /* width: 27%; */
}

.search-filter-mobile-categories .custom-checkbox label {
  font-size: 18px;
  padding-left: 5px;
}

.search-filter-mobile-categories .custom-control-input:checked~.custom-control-label::before {
  border-color: #5FAF57;
  background-color: #5FAF57;
}