/* Styles for Components/VehicleSearch/SearchList.js */

/* General */
.search-item {
  border: 1px solid #dee2e6;
  margin-bottom: 15px;
  padding: 15px;
}

.search-item-image,
.search-item-details,
.search-item-pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Item Image */
.search-item-image img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

/* Item Properties */
.search-item-category p {
  display: inline-block;
  border: 1px solid #dee2e6;
  padding: 0px 5px;
}

.search-item-name p {
  font-size: 20px;
  color: #404040;
  font-weight: 700;
}

.search-item-name,
.search-item-properties {
  margin-bottom: 10px;
}

.search-item-person,
.search-item-luggage,
.search-item-door,
.search-item-transmission {
  display: inline-flex;
  margin-right: 0.5rem;
}

.search-item-properties p {
  padding-left: 0.25rem;
}

.search-item-points p {
  margin-bottom: 5px;
}

/* Item Pricing */
.search-item-pricing {
  border-left: 1px solid #dee2e6;
}

.search-item-pricing p {
  margin: 0;
}

.search-item-price-text {
  font-weight: 600;
}

.search-item-old-price {
  color: red;
  text-decoration: line-through;
}

.search-item-price {
  font-size: 24px;
  font-weight: 600;
  color: #404040;
}

/* Responsive styles */

/* General */
@media only screen and (max-width: 991px) {
  .search-item-pricing {
    border-left: none;
    border-top: 1px solid #dee2e6;
    margin-top: 15px;
    padding-top: 15px;
    flex-direction: row;
  }

  .search-item-pricing-text {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  .search-item-prices {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .search-item-prices .search-item-price {
    margin-right: 10px;
  }

  .search-item-pricing-button {
    width: 55%;
    align-self: flex-end;
  }

  .search-item-pricing-button a {
    width: 100%;
  }
}
