/* Styles for Components/VehicleList/VehicleList.js */

/* Vehicle Item */
.vehicle-item {
  border: 1px solid #dee2e6;
  padding: 15px;
  margin-bottom: 15px;
}

/* Vehicle Properties */
.vehicle-image,
.vehicle-item-person, 
.vehicle-item-luggage, 
.vehicle-item-door, 
.vehicle-item-transmission {
  display: flex;
}

.vehicle-image {
  align-items: center;
  justify-content: center;
}

.vehicle-properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vehicle-item-category p {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #dee2e6;
}

.vehicle-item-name p {
  color: #404040;
  font-size: 20px;
  font-weight: 700;
}

.vehicle-item-person img, 
.vehicle-item-luggage img, 
.vehicle-item-door img, 
.vehicle-item-transmission img {
  padding-right: 5px;
}

/* Vehicle Price */
.vehicle-pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.vehicle-pricing p {
  margin: 0;
}

.vehicle-price {
  color: #404040;
  font-size: 20px;
  font-weight: 700;
}

.vehicle-pricing a {
  padding: 10px;
}

.vehicle-pricing .btn-primary {
  background-color:#5FAF57;
  border-color: #5FAF57;
}

.vehicle-pricing .btn-primary:hover {
  background-color:#52994C;
  border-color: #52994C;
  color: #ffffff;
}