/* Styles for /pages/vehicles */

/* Vehicle Title */
.vehicle-title h1 {
  text-transform: capitalize;
}

.vehicle-title {
  margin-top: 1rem;
}

/* Vehicles Filter */
.vehicles-filter {
  position: sticky;
  top: 86px;
  background-color: white;
  z-index: 998;
  height: fit-content;
  margin-top: 15px;
}

.vehicles-results {
  margin-top: 15px;
}

/* Call to Action */
.vehicles-cta {
  background-image: url("../../images/index-hero.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .vehicles-filter {
    top: 66px;
    background-color: #eeeeee;
    margin: 15px 15px 0 15px;
    padding: 0;
  }
}